<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= MrVideo::NAME %><%= ' | ' + yield(:title) if content_for?(:title) %></title>
    <%= stylesheet_link_tag 'mr_video/application', media: 'all' %>
    <%= javascript_include_tag 'mr_video/application' %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <nav class="navbar navbar-dark bg-dark fixed-top" role="navigation">
      <a class="navbar-brand" href="<%= root_path %>">Mr. Video</a>
      <div class="navbar-nav mr-auto">
        <%= link_to('Cassettes', root_path, class: 'nav-item nav-link') %>
      </div>
      <%= link_to('Back to main app', main_app.root_path, class: 'form-inline btn btn-secondary') %>
    </nav>
    <div class="container-fluid">
      <%= yield %>
    </div>
    <div class="navbar navbar-dark bg-dark fixed-bottom">
      <span class="navbar-text">Mr. Video v<%= MrVideo::VERSION %></span>
      <ul class="nav navbar-nav">
        <li>
          <%= link_to('GitHub', MrVideo::URL, target: '_blank', class: 'nav-link') %>
        </li>
      </ul>
      <span class="navbar-text">Cassette Library Dir: <%= MrVideo.configuration.cassette_library_dir %></span>
    </div>
  </body>
</html>
